<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Dashboard</title>
</head>

<body>

    <h1>Automated User Access Request Portal</h1>

    <h2>Employee Dashboard</h2>

    <p>Welcome to the Employee Dashboard.</p>

    <hr>

    <h3>Access Request Management</h3>

    <ul>
    <li>
    <a href="/employee/requests/new">
        Submit Access Request
    </a>
</li>
        <li>View My Requests</li>
        <li>Track Request Status</li>
    </ul>

    <br>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

</body>

</html>